{% extends '_base.html' %}

{% block header_extension %}
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/search.js"></script>
{% endblock header_extension %}


{% block content %}
    <div class="row">
        <form method="get">
            <div class="input-field col s12">
                <i class="material-icons prefix">search</i>
                <input id="search" type="text" placeholder="Search" class="autocomplete" oninput="search_suggestion(this.value);" />
            </div>
        </form>
    </div>

    <div class="row" id="search_results">
        {% for result in result_list %}
            {% include "search_result.html" %}
        {% endfor %}
    </div>
{% endblock content %}
