{% extends '_base.html' %}

{% block header_extension %}
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/search.js"></script>
{% endblock header_extension %}


{% block content %}
    <div class="row">
        <input id="search" type="text" placeholder="Search" onchange="search_suggestion(this.value);" />
    </div>

    <div class="row" id="search_results">
        {% for result in result_list %}
            {% include "search_result.html" %}
        {% endfor %}
    </div>
{% endblock content %}
